@import './../../../node_modules/bulma/sass/utilities/initial-variables';

$primary: #067139;
$link: #1890ff;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

$navbar-dropdown-arrow: $dark;

$spacing-shortcuts: ("margin": "m", "padding": "p");
$spacing-directions: ("top": "t", "right": "r", "bottom": "b", "left": "l");
$spacing-horizontal: "x";
$spacing-vertical: "y";
$spacing-values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, "4": 1rem, "5": 1.5rem, "6": 3rem, "7": 6rem, "auto": auto);

